body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

header span {
    margin-right: 1rem;
}

#search-form {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

#search-form {
    margin-right: 1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#hero {
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Adjust as needed */
}

.product-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.advertisement {
    width: 150px;
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#left-sidebar {
    width: 200px;
    padding: 1rem;
    background-color: #444;
    border-right: 3px solid;
    border-image: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet) 1;
    text-align: center;
    color: #ddd;
    animation: psychedelic-border 10s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -600px;
}

#right-sidebar {
    width: 200px;
    padding: 1rem;
    background-color: #444;
    border-left: 3px solid;
    border-image: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet) 1;
    text-align: center;
    color: #ddd;
    animation: psychedelic-border 10s linear infinite;
    position: absolute;
    top: 0;
    right: 0;
    bottom: -600px;
}

#products {
    flex: 3;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    width: 150px;
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    height: 250px;
}

.product h3 {
    color: #666;
}

.product p {
    color: #666;
}


.cart-icon {
    height: 2em;
}

#psychedelic-line {
    height: 5px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400% 400%;
    animation: psychedelic 10s linear infinite;
}

@keyframes psychedelic-border {
    0% {
        border-image-source: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet, red);
    }
    100% {
        border-image-source: linear-gradient(to top, red, orange, yellow, green, blue, indigo, violet, red);
    }
}

@keyframes psychedelic {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
